global
    maxconn 256
defaults
    mode http
    timeout connect 5s
    timeout client 1h
    timeout server 1h
    timeout tunnel 1h
frontend public
    bind :8443 ssl crt /certs/server.pem
    bind :8080
    http-response set-header X-Content-Type-Options nosniff
    http-response set-header Referrer-Policy no-referrer
    http-response set-header Permissions-Policy "microphone=(self), camera=(self)"
    default_backend app
backend app
    server app app:8000 check
